.editing_element {
  display: flex;
  align-items: center;
  gap: 20px;
}

.editing_element img {
  width: 20px;
  cursor: pointer;
}

.edit {
  display: flex;
  align-items: center;
  gap: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.content h3 {
  font-size: 15px;
  font-weight: 600;
}

.content p,
.edit_input {
  font-size: 14px;
  text-transform: lowercase;
  margin-left: 40px;
}

.edit_input {
  border: none;
  width: 180px;
  padding-bottom: 8px;
}

.edit_input:focus {
  outline: none;
}

.edit_input::placeholder,
.edit_input {
  color: #1e1e1e;
}

.edit_img {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.inputIcon {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
